@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.dashboard, .board {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dash-bg);
}

.dashboard {
  margin: 0;
  padding: 20px 0;
  position: relative;
}

.board {
  flex-grow: 1;
}

.title {
  color: white;
  margin: 0 15px 0 20px;
  flex-shrink: 0;
}

.main-btn {
  background-color: var(--teal);
  border: 1px solid white;
  border: none;
  border-radius: 5px;
  color: white;
  width: 170px;
  height: 50px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 3px solid white;
}

@media (max-width: 1200px) {
  .board {
    flex-wrap: wrap;
  }

  .arraysize {
    order: 6;
  }

  .sortspeed {
    order: 7;
  }
}

@media (max-width: 935px) {
  .dashboard {
    flex-direction: column;
  }

  .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 735px) {
  .generate {
    order: 3;
  }

  .sortoptions {
    order: 4;
  }

  .settings {
    order: 5;
  }

  .board {
    width: 65%;
  }
}