@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.dashboard, .board {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dash-bg);
}

.dashboard {
  margin: 0;
  padding: 20px 0;
  position: relative;
}

.board {
  flex-wrap: wrap;
  margin: 0 250px;
}

.title {
  color: white;
  margin-left: 20px;
  position: absolute;
  left: 0;
}

.main-btn {
  background-color: var(--teal);
  border: 1px solid white;
  border: none;
  border-radius: 5px;
  color: white;
  width: 170px;
  height: 50px;
  font-size: 0.9rem;
  font-weight: bold;
  border: 3px solid white;
}