.display, .bar {
    display: flex;
    justify-content: center;
}

.bar {
    border-radius: 5px;
    margin: 0;
}

.top {
    align-self: start;
    align-items: start;
}

.bottom {
    align-self: end;
    align-items: end;
}

.bar-unsorted {
    background-color: rgb(102, 157, 230);
}

.bar-targeted {
    background-color: rgb(240, 93, 93);
}

.bar-selected {
    background-color: rgb(252, 202, 111);
}

.bar-sorting {
    background-color: rgb(237, 143, 240);
}

.bar-sorted {
    background-color: rgb(64, 240, 102);
}

.hide {
    display: none;
}