.display {
  height: 400px;
  padding: 0 15px;
  margin-bottom: 35px;
}

.display,
.bar {
  display: flex;
  justify-content: center;
}

.bar {
  margin: 0;
}

.top {
  align-self: start;
  align-items: start;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bottom {
  align-self: end;
  align-items: end;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.bar-unsorted {
  background-color: oklch(var(--p))
}

.bar-targeted {
  background-color: rgb(238, 62, 62);
}

.bar-selected {
  background-color: rgb(226, 111, 230);
}

.bar-sorting {
  background-color: rgb(96 165 250);
}

.bar-sorted {
  background-color: rgb(54, 241, 95);
}

.hide {
  display: none;
}
