.dropdown {
  position: relative;
  margin: auto 0.5rem;
  min-width: 110px;
}

.dropdown-text-container {
  display: flex;
  border: none;
  border-radius: 5px;
  font-size: small;
  font-weight: bold;
  color: white;
  padding-left: 0.6rem;
  width: 100%;
  justify-content: center;
}

.options {
  background-color: var(--dash-bg);
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.3rem 0;
  box-shadow: inset 0 0 0 1px white;
  border-radius: 5px;
}

.option, .disabled {
  background-color: transparent;
  transition: background-color 0.1s linear;
  border: none;
  margin: 0.1rem;
  color: white;
}

.option:hover {
  background-color: var(--teal);
  transition: background-color 0.1s linear;
  border-radius: 0.3rem;
}

.disabled {
  color: rgb(214, 214, 214);
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0.4rem;
  line-height: 1rem;
}

.show-dropdown {
  background-color: var(--teal);
  transition: background-color 0.2s linear;
}

.hide-dropdown {
  background-color: transparent;
  transition: background-color 0.2s linear;
}

.hide-dropdown:hover {
  color: #22ebc2;
  transition: color 0.15s linear;
}

.arrow-up,
.arrow-down {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: auto;
  margin-left: 0.7rem;
  margin-right: 0.3rem;
}

.arrow-up {
  border-bottom: 7px solid white;
}

.arrow-down {
  border-top: 7px solid #bebebe;
}
