:root {
  --dash-bg: #3c6683;
  --teal: #1cbc9c;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(209, 238, 236);
}

.btn:hover {
  cursor: pointer;
}

@media (max-width: 1430px) {
  .board {
    flex-wrap: wrap;
    margin: 0 130px;
  }

  .display {
    margin: 0;
  }

  .arraysize {
    order: 6;
  }

  .sortspeed {
    order: 7;
  }
}

@media (max-width: 1155px) {
  .board {
    margin: 0;
  }
}

@media (max-width: 935px) {
  .dashboard {
    flex-direction: column;
  }

  .title {
    margin-bottom: 20px;
  }
}

@media (max-width: 735px) {
  .generate {
    order: 3;
  }

  .sortoptions {
    order: 4;
  }

  .settings {
    order: 5;
  }

  .board {
    width: 65%;
  }
}